body {
	font-family: sans-serif;
}
p {
	text-align: left;
}
h1, h2 {
	border-bottom: 1px solid gray;
}
h4, h5, h6 {
	text-align: center;
}
.toc {
	background: whitesmoke;
	border: 1px solid darkgray;
	margin: 1em 0.5em;
	padding: 0.25em;
}
.toc h2 {
	font-size: 1.25em;
	border: 0;
	margin: 0.25em;
}
pre {
	font: 1em monospace;
	border: 1px solid gray;
	margin: 1em 0.25em;
	padding: 0.25em;
	overflow: auto;
}
code {
	font: 1em monospace;
	border: 1px dotted gray;
	padding: 1px 2px;
}
blockquote {
	background: whitesmoke;
	margin: 1em 40px;
	padding: 0.5em;
}
blockquote blockquote {
	background: white;
	border-left: 1em solid lightgray;
	margin: 0.5em;
}
blockquote p:first-child {
	margin-top: 0;
}
blockquote p:last-child {
	margin-bottom: 0;
}
table {
	border-collapse: collapse;
	border: 2px ridge darkgray;
	margin: 0 0.5em 0.5em 0.5em;
}
caption {
	margin-top: 0.5em;
}
tr {
	background: whitesmoke;
}
tr:nth-child(odd) {
	background: gainsboro;
}
th, td {
	border: 1px solid gray;
	padding: 0.25em;
}
th {
	padding: 0.5em;
}
nav, .nav {
	font-style: italic;
	margin: 1em 0em;
}
header p, .header p {
	font-style: italic;
	padding-left: 40px;
}
footer, .footer {
	font-size: smaller;
	text-align: right;
	margin: 1em 0em;
}
.center {
	text-align: center;
}
